/ Se crea un hash para contener los titulos de la barra de navegacion
-menu= [{name: "HOME", url:"../index.html"},{name: "GALLERY", url:"#"},{name: "NEWS", url:"#"},{name: "MENU", url:"../categories/categories.html"}, {name: "CONTACT", url:"../contact/contact.html"}]
/ Se crea un hash que contendra la imagen y el id de cada platillo de la categoria
-plates= [{name: "Ejemplo", description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, architecto temporibus possimus!", image:"1.jpg" , id: "", price: "100.00"}, 																			  {name: "Ejemplo2", description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex aperiam repellendus optio.", image:"1.jpg" , id: "", price: "100.00"}, 		   {name: "Ejemplo3", description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit excepturi, soluta velit.", image:"1.jpg" , id: "", price: "100.00"}, 	{name: "Ejemplo4", description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic vitae, mollitia velit.", image:"1.jpg" , id: "", price: "100.00"}, 			 {name: "Ejemplo5", description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum veniam modi dolores.", image:"1.jpg" , id: "", price: "100.00"}, 			  {name: "Ejemplo6", description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur impedit officiis nulla.", image:"1.jpg" , id: "", price: "100.00"}, 	   {name: "Ejemplo7", description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur impedit officiis nulla.", image:"1.jpg" , id: "", price: "100.00"}, 		{name: "Ejemplo8", description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur impedit officiis nulla.", image:"1.jpg" , id: "", price: "100.00"},]
/ Hash para los ingredientes
-ingredients= ["Sedis", "Asseces", "Enducipsam", "Es dem si", "Ut quiam", "Sectium"]

<!DOCTYPE html>
%html{class:"no-js", lang: "es"}
%head
	%meta{:charset => "UTF-8"}/
	%meta{name:"description", content:"OutBess, la mejor tecnología para ordenar"}
	%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
	%script{src:"../js/vendor/modernizr-2.8.3.min.js"}
	%link{:rel => "stylesheet", :href => "../css/normalize.css"}
	%link{:rel => "stylesheet", :href => "../css/bootstrap.css"}
	%link{:rel => "stylesheet", :href => "https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
	%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Open+Sans:400,600"}
	%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Roboto:400,500,700"}
	%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Dancing+Script"}
	%link{:rel => "stylesheet", :href => "../css/style.css"}
	%title OutBess Breakfast
%body
	
	/ Barra de navegación
	.row.full-width.nav-background.fixed.remove-margin
		.col-xs-12.remove-padding
			%img.logo#responsive-logo{:src => "/images/ob1.png", :alt => ""}/
			%nav.roboto.navigation.right.top.fixed#responsive-nav
				%ul.list-inline
					-menu.each do |item|
						%li
							%a{:href => "#{item[:url]}"}= item[:name]
					%li#order
						.div
							%h4.remove-margin.roboto{style: "display: inline"} ORDENAR
							%i.glyphicon.glyphicon-shopping-cart
							
				%i.glyphicon.glyphicon-menu-hamburger.white.subtittle.glyphicon-remove#responsive-icon

	/ Encabezado de la categoria
	.row.full-width.remove-margin.center-xs
		.col-xs-12.remove-padding
			.div
				%img.flag02.padding-top{:src => "../images/flag02_inv.png", :alt => ""}/

	.row.full-width.remove-margin.center-xs
		.col-xs-11.remove-padding.special-menu#special-menu{style: "background-image: url(../images/f1.jpeg);"}
			.div.padding-top.white
				%h2.title.remove-margin.medium-letter-spacing.responsive-title#special-menu-padding DESAYUNOS
				%h3.dancing-script.remove-margin.small-padding.small-letter-spacing.padding-bottom Pollo a la parrilla
				%p.roboto.white.medium.remove-margin.large-padding.small-letter-spacing.flag{style: "background-image: url(/images/flag01.png);"} ESPECIAL DE DESAYUNO

	.row.full-width.remove-margin.center-xs
		.col-xs-12.remove-padding
			.div
				%img.flag02.padding-bottom{:src => "../images/flag02.png", :alt => ""}/

	/ Menu de cada categoria
	-plate= 0
	.row.full-width.remove-margin#padding-bottom
		-plates.each do |photo|
			.col-md-4.col-lg-3.col-sm-6.col-xs-12.medium-padding
				.div.category_img{style: "background-image: url(/images/Food/Breakfast/#{photo[:image]})"}
				.div.black.pointer#plate{:id => "#{plate}"}
					%h4.food.white.center-text.roboto.padding-left.small-letter-spacing#padding-top-food= photo[:name]
					-plate+=1	

	/ Descripción para cada platillo
	-index= 0
	-plates.each do |plate|
		.row.full-height.remove-margin.center-lg.plate#id{:id => "#{index}"}
			.col-lg-11.col-xs-12.remove-padding.food-order{style: "background-color: rgba(0, 0, 0, 0.90)"}
				.row.full-width.remove-margin.end-xs
					.col-xs-12
						%i.glyphicon.white.subtittle.glyphicon-remove#close{:id => "#{index}"}
				.row.full-width.full-height.remove-margin
					.col-lg-6.col-sm-6.col-xs-12#food-order
						/ Imagen del platillo
						.food-image{style: "background-image: url(../images/Food/Breakfast/#{plate[:image]})"}
						.screen.hidden
							/ Nombre del platillo
							.food-name
								%h3.center-text.white.medium-letter-spacing#food-name #{plate[:name]}
							/ Descripción del platillo
							.food-description
								%p.white.open-sans#padding-top #{plate[:description]}

					.col-lg-6.col-sm-6.col-xs-12
						/ Precio del platillo
						.food-pricing#padding-top
							%p.open-sans.center-text.white PRECIO: $#{plate[:price]}
						/ Boton ORDENAR
						.order-button
							%i.glyphicon.glyphicon-log-in.medium
							%p.open-sans.medium.center-text.remove-margin#order-button ORDENAR
						/ Ingredientes
						.food-ingredients
							%h4.flag.center-text.white.small-letter-spacing#food-ingredient{style: "background-image: url(/images/flag03.png);"} INGREDIENTS
							.row.full-width.full-height.remove-margin#padding-top
								.col-xs-6
									-ingredients.each do |ingredient|
										%p.white.small-letter.spacing.open-sans.right-text.title-text= ingredient
								.col-xs-6
									-ingredients.each do |ingredient2|
										.row.full-width.remove-margin.middle-xs.ingredient-background{style: "margin-bottom: 10px"}
											.col-xs-2
												%i.glyphicon.glyphicon-plus-sign
											.col-xs-8
												%p.remove-margin.center-text AGREGAR
											.col-xs-2
												%i.glyphicon.glyphicon-minus-sign
						-index+=1

	/ JQUERY and JavaScript
	%script{src:"https://code.jquery.com/jquery-3.1.0.min.js",integrity:"sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin:"anonymous"}
	%script
		window.jQuery || document.write("<script src='/js/vendor/jquery-1.12.0.min.js'><\/script>")
	%script{src:"../js/main.js"}