/ Se crea un hash para contener los titulos de la barra de navegacion
-menu= [{name: "HOME", url:"../index.html"},{name: "GALLERY", url:"#"},{name: "NEWS", url:"#"},{name: "MENU", url:"../categories/categories.html"}, {name: "CONTACT", url:"../contact/contact.html"}]
/ Se crea un hash para los titulos y descripciones de cada categoria
-menu_categories= [{name: "Desayunos", image:"ctg01.jpg", description:"SORPRENDETE CON NUESTROS DELICIOSOS PLATILLOS", url:"breakfast.html"}, 									{name: "Comidas", image:"ctg02.jpg", description:"SORPRENDETE CON NUESTROS DELICIOSOS PLATILLOS", url:"#"}, 																   {name: "Cenas", image:"ctg03.jpg", description:"SORPRENDETE CON NUESTROS DELICIOSOS PLATILLOS", url:"#"}, 																	{name: "Especiales", image:"ctg04.jpg", description:"SORPRENDETE CON NUESTROS DELICIOSOS PLATILLOS", url:"#"}, 										   							  {name: "Ejemplo", image:"ctg04.jpg", description:"SORPRENDETE CON NUESTROS DELICIOSOS PLATILLOS", url:"#"}, 																	 {name: "Ejemplo", image:"ctg04.jpg", description:"SORPRENDETE CON NUESTROS DELICIOSOS PLATILLOS", url:"#"}, 																	{name: "Ejemplo", image:"ctg04.jpg", description:"SORPRENDETE CON NUESTROS DELICIOSOS PLATILLOS", url:"#"}, 																   {name: "Ejemplo", image:"ctg04.jpg", description:"SORPRENDETE CON NUESTROS DELICIOSOS PLATILLOS", url:"#"}]

<!DOCTYPE html>
%html{class:"no-js", lang: "es"}
%head
	%meta{:charset => "UTF-8"}/
	%meta{name:"description", content:"OutBess, la mejor tecnología para ordenar"}
	%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
	%script{src:"../js/vendor/modernizr-2.8.3.min.js"}
	%link{:rel => "stylesheet", :href => "../css/normalize.css"}
	%link{:rel => "stylesheet", :href => "../css/bootstrap.css"}
	%link{:rel => "stylesheet", :href => "https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
	%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Open+Sans:400,600"}
	%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Roboto:400,500,700"}
	%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Dancing+Script"}
	%link{:rel => "stylesheet", :href => "../css/style.css"}
	%title OutBess Categories
%body
	
	/ Barra de navegación
	.row.full-width.nav-background.fixed.remove-margin
		.col-xs-12.remove-padding
			%img.logo#responsive-logo{:src => "/images/ob1.png", :alt => ""}/
			%nav.roboto.navigation.right.top.fixed#responsive-nav
				%ul.list-inline
					-menu.each do |item|
						%li
							%a{:href => "#{item[:url]}"}= item[:name]
					%li#order
						.div
							%h4.remove-margin.roboto{style: "display: inline"} ORDENAR
							%i.glyphicon.glyphicon-shopping-cart
							
				%i.glyphicon.glyphicon-menu-hamburger.white.subtittle.glyphicon-remove#responsive-icon

	/ Categorias
	.row-full-width.remove-margin.center-xs
		.col-xs-12.remove-padding
			.box
				%img.flag02.padding-top#categories{:src => "/images/flag02.png", :alt => ""}/
	.row.full-width.full-height.remove-margin
		.col-xs-12.remove-padding
			.box
				.row.full-width.remove-margin.center-xs
					.col-xs-12.remove-padding
						.box.black
							%h2.subtittle.medium-letter-spacing.roboto-bold *CATEGORIAS*
							%h3.dancing-script.remove-margin.small-letter-spacing.small-padding Disfruta de nuestra selección
				.row.full-width.remove-margin#padding-bottom
					-menu_categories.each do |photo|
						.col-md-4.col-lg-3.col-sm-6.col-xs-12.medium-padding
							.div.category_img{style: "background-image: url(/images/Categories/#{photo[:image]})"}
								.div.ctg_img_bckgr.black.pointer{onclick: "location.href='../categories/#{photo[:url]}'"}
									%h3.dancing-script.padding-left.small-letter-spacing#padding-top= photo[:name]
									%p.roboto.white.small.padding-left= photo[:description]


	/ JQUERY and JavaScript
	%script{src:"https://code.jquery.com/jquery-3.1.0.min.js",integrity:"sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin:"anonymous"}
	%script
		window.jQuery || document.write("<script src='/js/vendor/jquery-1.12.0.min.js'><\/script>")
	%script{src:"../js/main.js"}